{% extends 'base.html' %}
{% load bootstrap i18n shelves %}


{% block content %}
<h1 class="page-header">{% trans 'Dashboard' %}</h1>
<h2 class="page-header">
    <a class="collapse-link" data-toggle="collapse" data-target="#collapse-book" href="#collapse-book"></a>
    {% trans 'Books' %}
</h2>
<div id="collapse-magazine" class="table-responsive table-collapse collapse in">
    <table class="table table-striped table-hover">
        <thead>
            {% sortable_th 'Title' bo 'bo' 'title' %}
            {% sortable_th 'Authors' bo 'bo' 'authors' %}
            {% sortable_th 'Series' bo 'bo' 'series' %}
            {% sortable_th 'Volume' bo 'bo' 'volume' %}
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <th><a href="{% url 'book' book.slug %}">{{ book.title }}</a></th>
                    <td>{% for author in book.authors.all %}<a href="{% url 'person' author.slug %}">{{ author }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                    <th>{% if book.series %}<a href="{% url 'series' book.series.slug %}">{{ book.series.name }}</a>{% endif %}</th>
                    <td>{{ book.volume }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<h2 class="page-header">
    <a class="collapse-link" data-toggle="collapse" data-target="#collapse-magazine" href="#collapse-magazine"></a>
    {% trans 'Magazines' %}
</h2>
<div id="collapse-magazine" class="table-responsive table-collapse collapse in">
    <table class="table table-striped table-hover">
        <thead>
            {% sortable_th 'Magazine' mo 'mo' 'magazine' %}
            {% sortable_th 'Issue' mo 'mo' 'published_on' %}
            {% sortable_th 'Acquired' mo 'mo' 'acquisitions' %}
            {% sortable_th 'Read' mo 'mo' 'reads' %}
        </thead>
        <tbody>
            {% for issue in issues %}
                <tr>
                    <th><a href="{% url 'magazine' issue.magazine.slug %}">{{ issue.magazine.name }}</a></th>
                    <td><a href="{% url 'issue' issue.magazine.slug issue.slug %}">{{ issue.issue }}</a></td>
                    <td><span class="glyphicon glyphicon-{% if issue.acquisitions.exists %}ok{% else %}remove{% endif %}"></span></td>
                    <td>{% read_status issue.reads %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<h2 class="page-header">
    <a class="collapse-link" data-toggle="collapse" data-target="#collapse-paper" href="#collapse-paper"></a>
    {% trans 'Papers' %}
</h2>
<div id="collapse-paper" class="table-responsive table-collapse collapse in">
    <table class="table table-striped table-hover">
        <thead>
            {% sortable_th 'Title' po 'po' 'title' %}
            <th>{% trans 'Authors' %}</th>
            {% sortable_th 'Journal' po 'po' 'journal' %}
            {% sortable_th 'Volume' po 'po' 'volume' %}
            {% sortable_th 'Acquired' po 'po' 'acquisitions' %}
            {% sortable_th 'Read' po 'po' 'reads' %}
        </thead>
        <tbody>
            {% for paper in papers %}
                <tr>
                    <th><a href="{% url 'paper' paper.slug %}">{{ paper.title }}</a></th>
                    <td>{% for author in paper.authors.all %}<a href="{% url 'person' author.slug %}">{{ author }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                    <td><a href="{% url 'journal' paper.journal.slug %}">{{ paper.journal.name }}</a></td>
                    <td>{{ paper.volume }}</td>
                    <td><span class="glyphicon glyphicon-{% if paper.acquisitions.exists %}ok{% else %}remove{% endif %}"></span></td>
                    <td>{% read_status paper.reads %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
