{% extends "bibliothek/base.html" %}
{% load bootstrap i18n %}


{% block content %}
<div class="row">
    <div class="col">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    {% trans "Name" as name_trans %}
                    {% sortable_th name_trans o "o" "name" %}
                    {% trans "Number of Papers" as nb_papers_trans %}
                    {% sortable_th nb_papers_trans o "o" "cp" %}
                </thead>
                <tbody>
                    {% for journal in object_list %}
                        <tr>
                            <th><a href="{% url "journals:journal_detail" journal.slug %}">{{ journal.name }}</a></th>
                            <th>{{ journal.cp }}</th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
