{% extends "bibliothek/base.html" %}
{% load bootstrap i18n shelves %}


{% block content %}
<div class="row">
    <div class="col">
        <h2>{% trans "Books" %}</h2>
        <div class="table-responsive">
            <table class="table table-sm table-hover">
                <thead>
                    <th>{% trans "Title" %}</th>
                    <th>{% trans "Authors" %}</th>
                    <th>{% trans "Series" %}</th>
                    <th>{% trans "Volume" %}</th>
                    <th>{% trans "Binding" %}</th>
                    <th>{% trans "Date started" %}</th>
                </thead>
                <tbody>
                    {% for read in edition_reads %}
                        <tr>
                            <th><a href="{% url "books:edition_detail" read.content_object.book.slug read.content_object.id %}">{{ read.title }}</a></th>
                            <td>{% for author in read.content_object.book.authors.all %}<a href="{% url "persons:person_detail" author.slug %}">{{ author }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                            <td>{% if read.content_object.book.series %}<a href="{% url "series:series_detail" read.content_object.book.series.slug %}">{{ read.content_object.book.series.name }}</a>{% endif %}</td>
                            <td>{{ read.content_object.book.volume|default:"" }}</td>
                            <td>{{ read.content_object.binding.name }}</td>
                            <td>{{ read.started|date:"Y-m-d" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <h2>{% trans "Magazines" %}</h2>
        <div class="table-responsive">
            <table class="table table-sm table-hover">
                <thead>
                    <th>{% trans "Magazine" %}</th>
                    <th>{% trans "Issue" %}</th>
                    <th>{% trans "Publishing date" %}</th>
                    <th>{% trans "Date started" %}</th>
                </thead>
                <tbody>
                    {% for issue in issues %}
                        <tr>
                            <th><a href="{% url "magazines:magazine_detail" issue.magazine.slug %}">{{ issue.magazine.name }}</a></th>
                            <td><a href="{% url "magazines:issue_detail" issue.magazine.slug issue.id %}">{{ issue.issue }}</a></td>
                            <td><a href="{% url "magazines:issue_detail" issue.magazine.slug issue.id %}">{{ issue.publishing_date|date:"Y-m-d" }}</a></td>
                            <td>{{ read.started|date:"Y-m-d" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <h2 class="page-header">{% trans "Papers" %}</h2>
        <div class="table-responsive">
            <table class="table table-sm table-hover">
                <thead>
                    <th>{% trans "Title" %}</th>
                    <th>{% trans "Authors" %}</th>
                    <th>{% trans "Journal" %}</th>
                    <th>{% trans "Volume" %}</th>
                    <th>{% trans "Date started" %}</th>
                </thead>
                <tbody>
                    {% for read in paper_reads %}
                        <tr>
                            <th><a href="{% url "papers:paper_detail" read.content_object.slug %}">{{ read.content_object.title }}</a></th>
                            <td>{% for author in read.content_object.authors.all %}<a href="{% url "persons:person_detail" author.slug %}">{{ author }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                            <td>{% if read.content_object.journal %}<a href="{% url "journals:journal_detail" read.content_object.journal.slug %}">{{ read.content_object.journal.name }}</a>{% endif %}</td>
                            <td>{{ read.content_object.volume|default:"" }}</td>
                            <td>{{ read.started|date:"Y-m-d" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
