{% extends "bibliothek/base.html" %}
{% load bootstrap i18n shelves %}


{% block content %}
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <h1 class="page-header">{% trans "Dashboard" %}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <h2 class="page-header">
            <a class="collapse-link" data-toggle="collapse" data-target="#collapse-book" href="#collapse-book"></a>
            {% trans "Books" %}
        </h2>
        <div id="collapse-book" class="table-responsive table-collapse collapse in">
            <table class="table table-striped table-hover">
                <thead>
                    <th>{% trans "Title" %}</th>
                    <th>{% trans "Authors" %}</th>
                    <th>{% trans "Series" %}</th>
                    <th>{% trans "Volume" %}</th>
                    <th>{% trans "Binding" %}</th>
                    <th>{% trans "Date started" %}</th>
                </thead>
                <tbody>
                    {% for read in edition_reads %}
                        <tr>
                            <th><a href="{% url "books:edition_detail" read.content_object.book.slug read.content_object.id %}">{{ read.content_object.book.title }}</a></th>
                            <td>{% for author in read.content_object.book.authors.all %}<a href="{% url "persons:person_detail" author.slug %}">{{ author }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                            <th>{% if read.content_object.book.series %}<a href="{% url "series:series_detail" read.content_object.book.series.slug %}">{{ read.content_object.book.series.name }}</a>{% endif %}</th>
                            <td>{{ read.content_object.book.volume|default:"" }}</td>
                            <td>{{ read.content_object.binding.name }}
                            <td>{{ read.started|date:"Y-m-d" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <h2 class="page-header">
            <a class="collapse-link" data-toggle="collapse" data-target="#collapse-magazine" href="#collapse-magazine"></a>
            {% trans "Magazines" %}
        </h2>
        <div id="collapse-magazine" class="table-responsive table-collapse collapse in">
            <table class="table table-striped table-hover">
                <thead>
                    <th>{% trans "Magazine" %}</th>
                    <th>{% trans "Issue" %}</th>
                    <th>{% trans "Published on" %}</th>
                    <th>{% trans "Date started" %}</th>
                </thead>
                <tbody>
                    {% for issue in issues %}
                        <tr>
                            <th><a href="{% url "magazines:magazine_detail" issue.magazine.slug %}">{{ issue.magazine.name }}</a></th>
                            <td><a href="{% url "magazines:issue_detail" issue.magazine.slug issue.id %}">{{ issue.issue }}</a></td>
                            <td><a href="{% url "magazines:issue_detail" issue.magazine.slug issue.id %}">{{ issue.published_on|date:"Y-m-d" }}</a></td>
                            <td>{{ read.started|date:"Y-m-d" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <h2 class="page-header">
            <a class="collapse-link" data-toggle="collapse" data-target="#collapse-paper" href="#collapse-paper"></a>
            {% trans "Papers" %}
        </h2>
        <div id="collapse-paper" class="table-responsive table-collapse collapse in">
            <table class="table table-striped table-hover">
                <thead>
                    <th>{% trans "Title" %}</th>
                    <th>{% trans "Authors" %}</th>
                    <th>{% trans "Journal" %}</th>
                    <th>{% trans "Volume" %}</th>
                    <th>{% trans "Date started" %}</th>
                </thead>
                <tbody>
                    {% for read in paper_reads %}
                        <tr>
                            <th><a href="{% url "papers:paper_detail" read.content_object.slug %}">{{ read.content_object.title }}</a></th>
                            <td>{% for author in read.content_object.authors.all %}<a href="{% url "persons:person_detail" author.slug %}">{{ author }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                            <td>{% if read.content_object.journal %}<a href="{% url "journals:journal_detail" read.content_object.journal.slug %}">{{ read.content_object.journal.name }}</a>{% endif %}</td>
                            <td>{{ read.content_object.volume|default:"" }}</td>
                            <td>{{ read.started|date:"Y-m-d" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
