[submodule "bibliothek/utils"]
	path = bibliothek/utils
	url = https://github.com/jnphilipp/python-utils
[submodule "bibliothek/django_bootstrap4"]
	path = bibliothek/django_bootstrap4
	url = https://github.com/jnphilipp/django-boostrap4.git
