# Python
__pycache__
.venv
.mypy_cache
*.pyc

# Django
bibliothek/local.py
bibliothek/static/*
bibliothek/media/*

# Other
db.sqlite3
build
.sync-exclude.lst

# SublimeText
*.sublime-project
*.sublime-workspace

# Vim
Session.vim
