{% extends 'base.html' %}
{% load bootstrap i18n %}


{% block content %}
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <h1 class="page-header">{% trans 'Persons' %}</h1>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    {% sortable_th 'Name' o 'o' 'name' %}
                    {% sortable_th 'Number of Books' o 'o' 'cb' %}
                    {% sortable_th 'Number of Papers' o 'o' 'cp' %}
                </thead>
                <tbody>
                    {% for person in object_list %}
                        <tr>
                            <th><a href="{% url 'person_detail' person.slug %}">{{ person.first_name }} {{ person.last_name }}</a></th>
                            <td>{{ person.cb }}</td>
                            <td>{{ person.cp }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
