{% extends "bibliothek/base.html" %}
{% load bootstrap i18n shelves %}


{% block content %}
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <h1 class="page-header">{{ publisher.name }}</h1>
        <dl class="dl-horizontal">
            <dt>{% trans "Id" %}</dt>
            <dd>{{ publisher.id }}</dd>
            <dt>{% trans "Links" %}</dt>
            <dd>
                <ul>
                    {% for link in publisher.links.all %}
                        <li><a href="{{ link }}">{{ link }}</a></li>
                    {% endfor %}
                </ul>
            </dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <h2 class="page-header">{% trans "Editions" %}</h2>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    {% trans "Id" as id_trans %}
                    {% sortable_th id_trans o "o" "id" %}
                    {% trans "Title" as title_trans %}
                    {% sortable_th title_trans o "o" "book__title" %}
                    <th>{% trans "Authors" %}</th>
                    {% trans "Series" as series_trans %}
                    {% sortable_th series_trans o "o" "book__series" %}
                    {% trans "Volume" as volume_trans %}
                    {% sortable_th volume_trans o "o" "book__volume" %}
                    {% trans "Alternate title" as alternate_title_trans %}
                    {% sortable_th alternate_title_trans o "o" "alternate_title" %}
                    {% trans "ISBN" as isbn_trans %}
                    {% sortable_th isbn_trans o "o" "isbn" %}
                    {% trans "Acquired" as acquired_trans %}
                    {% sortable_th acquired_trans o "o" "acquisitions" %}
                    {% trans "Read" as read_trans %}
                    {% sortable_th read_trans o "o" "reads" %}
                </thead>
                <tbody>
                    {% for edition in editions %}
                        <tr>
                            <th><a href="{% url "books:edition_detail" edition.book.slug edition.id %}">#{{ edition.id }}</a></th>
                            <td><a href="{% url "books:book_detail" edition.book.slug %}">{{ edition.book.title }}</a></td>
                            <td>{% for author in edition.book.authors.all %}{{ author }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                            <td>{% if edition.book.series %}<a href="{% url "series:series_detail" edition.book.series.slug %}">{{ edition.book.series.name }}</a>{% endif %}</td>
                            <td>{{ edition.book.volume|default:"" }}</td>
                            <td>{{ edition.alternate_title|default:"" }}</td>
                            <td>{{ edition.isbn|default:"" }}</td>
                            <td><span class="glyphicon glyphicon-{% if edition.acquisitions.exists %}ok{% else %}remove{% endif %}"></span></td>
                            <td>{% read_status edition.reads %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
