{% extends "bibliothek/base.html" %}
{% load bootstrap i18n shelves %}


{% block content %}
<div class="row">
    <div class="col">
        <h1>{{ publisher.name }}</h1>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <dl class="row">
            <dt class="col-sm-2">{% trans "Id" %}</dt>
            <dd class="col-sm-10">{{ publisher.id }}</dd>
            <dt class="col-sm-2">{% trans "Links" %}</dt>
            <dd class="col-sm-10">
                <ul>
                    {% for link in publisher.links.all %}
                        <li><a href="{{ link }}">{{ link }}</a></li>
                    {% endfor %}
                </ul>
            </dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col">
        <h2>{% trans "Editions" %}</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    {% trans "Id" as id_trans %}
                    {% sortable_th id_trans eo "eo" "id" %}
                    {% trans "Title" as title_trans %}
                    {% sortable_th title_trans eo "eo" "book__title" %}
                    <th>{% trans "Authors" %}</th>
                    {% trans "Series" as series_trans %}
                    {% sortable_th series_trans eo "eo" "book__series" %}
                    {% trans "Volume" as volume_trans %}
                    {% sortable_th volume_trans eo "eo" "book__volume" %}
                    {% trans "Alternate title" as alternate_title_trans %}
                    {% sortable_th alternate_title_trans eo "eo" "alternate_title" %}
                    {% trans "ISBN" as isbn_trans %}
                    {% sortable_th isbn_trans eo "eo" "isbn" %}
                    {% trans "Acquired" as acquired_trans %}
                    {% sortable_th acquired_trans eo "eo" "acquisitions" %}
                    {% trans "Read" as read_trans %}
                    {% sortable_th read_trans eo "eo" "reads" %}
                </thead>
                <tbody>
                    {% for edition in editions %}
                        <tr>
                            <th><a href="{% url "books:edition_detail" edition.book.slug edition.id %}">#{{ edition.id }}</a></th>
                            <td><a href="{% url "books:book_detail" edition.book.slug %}">{{ edition.book.title }}</a></td>
                            <td>{% for author in edition.book.authors.all %}<a href="{% url "persons:person_detail" author.slug %}">{{ author }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                            <td>{% if edition.book.series %}<a href="{% url "series:series_detail" edition.book.series.slug %}">{{ edition.book.series.name }}</a>{% endif %}</td>
                            <td>{{ edition.book.volume|default:"" }}</td>
                            <td>{{ edition.alternate_title|default:"" }}</td>
                            <td>{{ edition.isbn|default:"" }}</td>
                            <td>{{ edition.acquisitions.count }}</td>
                            <td>{{ edition.reads.count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <h2>{% trans "Papers" %}</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    {% sortable_th id_trans po "po" "id" %}
                    {% sortable_th title_trans po "po" "title" %}
                    <th>{% trans "Authors" %}</th>
                    {% sortable_th series_trans po "po" "series" %}
                    {% sortable_th volume_trans po "po" "volume" %}
                    {% sortable_th acquired_trans po "po" "acquisitions" %}
                    {% sortable_th read_trans po "po" "reads" %}
                </thead>
                <tbody>
                    {% for paper in papers %}
                        <tr>
                            <td><a href="{% url "papers:paper_detail" paper.slug %}">{{ paper.title }}</a></td>
                            <td>{% for author in paper.authors.all %}<a href="{% url "persons:person_detail" author.slug %}">{{ author }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                            <td>{% if paper.series %}<a href="{% url "series:series_detail" paper.series.slug %}">{{ paper.series.name }}</a>{% endif %}</td>
                            <td>{{ paper.volume|default:"" }}</td>
                            <td>{{ paper.acquisitions.count }}</td>
                            <td>{{ paper.reads.count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
