{% extends "bibliothek/base.html" %}
{% load bootstrap i18n %}


{% block content %}
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <h1 class="page-header">{% trans "Publishers" %}</h1>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    {% trans "Name" as name_trans %}
                    {% sortable_th name_trans o "o" "name" %}
                    {% trans "Number of Editions" as nb_editions_trans %}
                    {% sortable_th nb_editions_trans o "o" "cp" %}
                </thead>
                <tbody>
                    {% for publisher in object_list %}
                        <tr>
                            <th><a href="{% url "publishers:publisher_detail" publisher.slug %}">{{ publisher.name }}</a></th>
                            <th>{{ publisher.ce }}</th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
