{% extends "bibliothek/base.html" %}
{% load i18n static %}


{% block content %}
<div class="row">
    <div class="col">
        <h1>{{ book.title }}</h1>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col">
        <dl class="row">
            <dt class="col-sm-1">{% trans "Id" %}</dt>
            <dd class="col-sm-11">{{ book.id }}</dd>
            <dt class="col-sm-1">{% trans "Authors" %}</dt>
            <dd class="col-sm-11">{% for author in book.authors.all %}<a href="{% url "persons:person_detail" author.slug %}">{{ author }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</dd>
            <dt class="col-sm-1">{% trans "Series" %}</dt>
            <dd class="col-sm-11">{% if book.series %}<a href="{% url "series:series_detail" book.series.slug %}">{{ book.series.name }}</a>{% endif %}</dd>
            <dt class="col-sm-1">{% trans "Volume" %}</dt>
            <dd class="col-sm-11">{{ book.volume|default:"" }}</dd>
            <dt class="col-sm-1">{% trans "Genres" %}</dt>
            <dd class="col-sm-11">{% for genre in book.genres.all %}<a href="{% url "genres:genre_detail" genre.slug %}">{{ genre.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
            <dt class="col-sm-1">{% trans "Links" %}</dt>
            <dd class="col-sm-11">
                <ul>
                    {% for link in book.links.all %}
                        <li><a href="{{ link }}">{{ link }}</a></li>
                    {% endfor %}
                </ul>
            </dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col">
        <h2>{% trans "Editions" %}</h2>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col">
        {% for edition in book.editions.all %}
            <a href="{% url "books:edition_detail" book.slug edition.id %}">
                <figure class="figure">
                    <img class="figure-img img-thumbnail" src="{% if edition.cover_image %}{{ edition.cover_image.url }}{% else %}{% static "images/default_cover.jpg" %}{% endif %}" style="height: 250px;">
                    <figcaption class="figure-caption text-center">{% trans "Edition" %} #{{ edition.id }}</figcaption>
                </figure>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
