{% extends "bibliothek/base.html" %}
{% load bootstrap i18n %}


{% block content %}
<div class="row">
    <div class="col">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    {% trans "Name" as name_trans %}
                    {% sortable_th name_trans o "o" "name" %}
                    {% trans "Number of Issues" as nb_issues_trans %}
                    {% sortable_th nb_issues_trans o "o" "ci" %}
                </thead>
                <tbody>
                    {% for magazine in object_list %}
                        <tr>
                            <th><a href="{% url "magazines:magazine_detail" magazine.slug %}">{{ magazine.name }}</a></th>
                            <th>{{ magazine.ci }}</th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
