{% extends "bibliothek/base.html" %}
{% load bootstrap i18n shelves %}


{% block content %}
<div class="row">
    <div class="col">
        <h1>{{ magazine.name }}</h1>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col">
        <dl class="row">
            <dt class="col-sm-1">{% trans "Id" %}</dt>
            <dd class="col-sm-11">{{ magazine.id }}</dd>
            <dt class="col-sm-1">{% trans "Feed" %}</dt>
            <dd class="col-sm-11">{% if magazine.feed %}<a href="{{ magazine.feed.link }}">{{ magazine.feed.link }}</a>{% endif %}</dd>
            <dt class="col-sm-1">{% trans "Links" %}</dt>
            <dd class="col-sm-11">
                <ul>
                    {% for link in magazine.links.all %}
                        <li><a href="{{ link }}">{{ link }}</a></li>
                    {% endfor %}
                </ul>
            </dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col">
        <h2>{% trans "Issues" %}</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    {% trans "Issue" as issue_trans %}
                    {% sortable_th issue_trans o "o" "issue" %}
                    {% trans "Publishing date" as publishing_date_trans %}
                    {% sortable_th publishing_date_trans o "o" "publishing_date" %}
                    {% trans "Acquired" as acquired_trans %}
                    {% sortable_th acquired_trans o "o" "acquisitions" %}
                    {% trans "Read" as read_trans %}
                    {% sortable_th read_trans o "o" "reads" %}
                </thead>
                <tbody>
                    {% for issue in issues %}
                        <tr>
                            <th><a href="{% url "magazines:issue_detail" magazine.slug issue.id %}">{{ issue.issue }}</a></th>
                            <td>{{ issue.publishing_date|date:"Y-m-d" }}</td>
                            <td>{{ issue.acquisitions.count }}</td>
                            <td>{{ issue.reads.count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
