{% extends 'base.html' %}
{% load i18n %}


{% block content %}
<h1 class="page-header">{{ journal.name }}</h1>
<dl class="dl-horizontal">
    <dt>{% trans 'Links' %}</dt>
    <dd>
        <ul class="list-unstyled">
            {% for link in journal.links.all %}
                <li><a href="{{ link }}">{{ link }}</a></li>
            {% endfor %}
        </ul>
    </dd>
</dl>
<h2 class="page-header">{% trans 'Papers' %}</h2>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <th>{% trans 'Title' %}</th>
            <th>{% trans 'Authors' %}</th>
            <th>{% trans 'Volume' %}</th>
        </thead>
        <tbody>
            {% for paper in journal.papers.all %}
                <tr>
                    <th><a href="{% url 'paper' paper.slug %}">{{ paper.title }}</a></th>
                    <td>{% for author in paper.authors.all %}{{ author }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                    <td>{{ paper.volume }}</td>
                    <td><span class="glyphicon glyphicon-{% if paper.acquisitions.exists %}ok{% else %}remove{% endif %}"></span></td>
                    <td><span class="glyphicon glyphicon-{% if paper.reads.exists %}ok{% else %}remove{% endif %}"></span></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
